body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

#battle {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.card {
  width: 40%;
  padding: 20px;
  border: 2px solid #444;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background: #222;
}
